body {
  background-color: #242424;
  font-family: "Helvetica";
  color: white;
  text-align: center;
}

#status {
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 0px;
}

.buttons button {
  font-size: 100px;
  background-color: transparent;
  border-radius: 5px;
  margin: 8px;
  flex: 1;
}

.buttons {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  flex-flow: row wrap;
}

.inputs {
  margin-bottom: 20px;
}

.inputs input {
  font-size: 18px;
  width: 400px;
  text-align: center;
}

.inputs button {
  font-size: 18px;
}

#connect {
  margin-left: 30px;
}
