.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status {
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 0px;
}

.sliders {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  flex-flow: row wrap;
}

.sliders .slider {
  flex: 1;
  margin: 20px;
  flex-grow: 1;
}

.slider input {
  height: 50px;
  width: 100%;
}

.buttons {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  flex-flow: row wrap;
}

.buttons button {
  font-size: 100px;
  border: 8px outset;
  border-radius: 20px;
  margin: 10px;
  flex-grow: 1;
  user-select: none;
}

.buttons button:active {
  border-style: inset;
}

.inputs {
  margin-bottom: 20px;
}

.inputs input {
  font-size: 18px;
  width: 400px;
  text-align: center;
}

.inputs button {
  font-size: 18px;
}

.connect {
  margin-left: 30px;
}

a {
  color: white;
  text-decoration: underline;
}
